This repository is an implementation of a golang  model context protocol sdk.

Project docs are available in the docs folder.

Model context prtocol docs are available at https://modelcontextprotocol.io

Write tests for all new functionality.

Use go test to run tests after adding new functionality.